body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
.header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    margin: auto;
}
 .log {
    text-align: center;
     height: 120px;
    background: url(./img/logo.svg) no-repeat center;  
    margin-bottom: 6px; 
 }

.logo-address {
    font-size: 12px;
    font-weight:100;
    text-align: center;
    margin: 0;
    color: rgb(106, 106, 106);
}

section {
    width: 718px;
    padding: 0 40px;
    margin: auto;
    margin-bottom: 100px;
}

.address {
    margin-bottom: 55px;
}

.title {
    font-size: 16px;
    font-weight: 400;
    margin:0;
}

.address-text {
    font-size: 13px;
}

.invoice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.bill-title {
    font-size: 16px;
    font-weight: normal;
    padding-top: 20px;
    margin: 0;
}

.bill-subtitle {
    font-size: 13px;
    font-weight: 100;
    margin-top: 0;
}

.bill-address {
    font-size: 13px;
    margin: 0;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
}
.invoice-table th {
    font-size: 16px;
    font-weight: normal;
    border:none;
    text-align: right;
}
.invoice-table td {
    width: 200px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.invoice-table td:first-of-type {
    width: 120px;
}

.discription-table {
    width: 100%;
    font-size: 13px;
}

.discription {
    margin-bottom: 150px;
}
.discription-table th:first-of-type {
    text-align-last: left;  
}

.discription-table td {
    text-align: right;
}

.discription-table td:first-of-type {
    text-align: left;
    width: 40%;
}

.discription-table td:nth-child(3) {
    text-align:left;
}

.discription-table tr:last-of-type {
    font-weight: bold;
}

.bank {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.bank-details {
    width: 23%;
    font-size: 10px;
   margin-right: 7%;
    margin-bottom: 25px;
}

.detalis {
    margin: 0;
    border-bottom: 1px solid;
}

.bold {
    margin: 0;
    font-size: 11px;
    font-weight: bold;
}

.footer-line {
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(255, 115, 0);
}

.footer-title {
    display: block;
    font-family: 'Times New Roman', Times, serif;
}

.footer-title::before,
.footer-title::after   {
    content: "";
    display: inline-block;
    vertical-align:middle;
    width: 100%;
    height: 10px;
    background-color: rgb(255, 115, 0);
    position: relative;
}

.footer-title::before {
    margin-left: -100%;
    left: -10px;
}

.footer-title::after {
    margin-right: -100%;
    right: -10px;
}

.footer-address  {
    font-size: 12px;
    text-align: center;
    color: rgb(106, 106, 106);
    padding: 20px;   
}

.footer-address p{
    margin-top: 0;
    margin-bottom: 5px;
}





